@model IEnumerable<WMSWebApp.ViewModels.WarehouseModel>

@{
    ViewData["Title"] = "Index";
}
@* Delete this below CSS File after revamping is done. *@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Warehouse List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Master</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Warehouse List</h3>
                    </div>
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WarehouseCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.WarehouseName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Location)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactPerson)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ContactNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalSpaceSizeType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalSpaceSize)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WarehouseCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WarehouseName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Location)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactPerson)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ContactNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalSpaceSizeType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalSpaceSize)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Create" class="btn btn-primary">Create New</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


