@model WMSWebApp.ViewModels.Branch

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchCode)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumberBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumberBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailIdBranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailIdBranch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociatedEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociatedEmployee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarehouseName )
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName )
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
