@model IEnumerable<WMSWebApp.ViewModels.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScreenCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchCode)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPersonBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumberBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailIdBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssociatedEmployee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPersonBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumberBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailIdBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
