@model IEnumerable<WMSWebApp.ViewModels.Branch>

@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Branch List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Master</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
              <thead>
          <tr id="table_row">
         
         <th>
             @Html.DisplayNameFor(model => model.BranchCode)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.BranchName)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.CompanyId)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Address)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Location)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.ContactPersonBranch)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.ContactNumberBranch)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.EmailIdBranch)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.AssociatedEmployee)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.WarehouseId)
         </th>
                                       
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.BranchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPersonBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumberBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailIdBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssociatedEmployee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseId)
            </td>

            <td>
                <a asp-action="Edit" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                <a asp-action="Delete" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
        </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            </div>
        </div>
    </div>
</section>


  @section Scripts{
  	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script>
		$(document).ready(function() {
		let table = $('#example').DataTable( {
				responsive: true
			})
			.columns.adjust()
			.responsive.recalc();
	} );
	$(document).ready(function() {
		let table = $('#example2').DataTable( {
				responsive: true
			})
			.columns.adjust()
			.responsive.recalc();
	} );
	</script>
	}
