@model WMSWebApp.ViewModels.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonHO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonHO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumberHO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumberHO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailIdHO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailIdHO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpaceSizeFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpaceSizeFormat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Items)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Items)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubItem)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
