@using Domain.Model
@model List<Branch>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Style{
    <link href="~/lib/kendoUi/2021/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/kendoUi/2021/styles/kendo.default.mobile.min.css" rel="stylesheet" />


}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Grn List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Process</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">GRN</h3>


                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-2">

                                    <label>Branch </label>
                                    <select class="form-control" id="branch" asp-items="@(new SelectList(Model,"BranchCode","BranchName"))"></select>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-primary" id="search" type="button">Search</button>
                                </div>
                            </div>
                            <br />
                            <div id="user-grid">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    @section Scripts{
    <environment include="Development">
        <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
        <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
        <script src="~/js/common.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/kendoUi/2021/js/kendo.all.min.js"></script>
        <script src="~/lib/kendoUi/2021/js/jszip.min.js"></script>
        <script src="~/js/common.min.js"></script>


    </environment>

    <script>
        function additionalData() {
            var data = {
                branchCode: $("#branch").val(),
                //pnr: $("#pnr").val(),
                //bookingRefNo: $("#bookingRefNo").val(),
                //email: $("#email").val(),
                //mobile: $("#mobile").val(),
                //fromDate: $("#fromDate").val(),
                //toDate: $("#toDate").val(),
                //apisource:$("#apisource").val()
            }
            addAntiForgeryToken(data);
            return data;
        }
        $(document).ready(function(){
            $('#search').click(function () {
                //search
                var grid = $('#user-grid').data('kendoGrid');
                grid.dataSource.read();
                return false;
            });

            var initialLoad = true;
            $("#user-grid").kendoGrid({

                toolbar: ["excel"],
                excel: {
                    fileName: "GRN Export.xlsx",
                    proxyURL: "@Html.Raw(Url.Action("List", "GRN"))",
                    filterable: true
                },
                dataSource: {

                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("List", "GRN"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData,
                            complete: function (result) {
                                console.log("Remote built-in transport", result);
                                if (result.status == 401) {
                                    document.location.href = "@Html.Raw(Url.Action("Index", "AccessDenied"))";
                                }
                            }

                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function (e) {
                        //display_kendoui_grid_error(e);
                        // Cancel the changes
                        console.log(e)
                        this.cancelChanges();
                    },
                    pageSize: 20,
                    sortable: true,
                    serverPaging: true,
                    serverSorting: true,
                    requestStart: function () {
                        if (initialLoad) //<-- if it's the initial load, manually start the spinner
                            kendo.ui.progress($("#user-grid"), true);
                    },
                    requestEnd: function () {
                        if (initialLoad)
                            kendo.ui.progress($("#user-grid"), false);
                        initialLoad = false; //<-- make sure the spinner doesn't fire again (that would produce two spinners instead of one)

                    },

                },
                pageable: {
                    refresh: true,
                    pageSizes: true
                },
                excel: {
                    allPages: true
                },
                scrollable: false,
                columns: [{
                    field: "Id",
                    title: "ID",
                    width: 50
                },
                {
                    field: "PONo",
                    title: "PONo",
                    width: 50
                },

                {
                    field: "InvoiceNo",
                    title: "InvoiceNo",
                    width: 300
                },
                {
                    field: "InvoiceDate",
                    title: "InvoiceDate",
                    encoded: false,
                    width: 300
                },
                {
                    field: "Branch",
                    title: "Branch",
                    width: 300
                },
                {
                    field: "BranchCode",
                    title: "BranchCode",
                    width: 120
                },




                {
                    field: "SenderCompany",
                    title: "SenderCompany",
                    width: 50
                },
                {
                    title: "Action",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '<a href="@(Url.Action("GrnPrint", "Grn"))/?id=#=Id#" class="btn btn-primary">Print</a>',
                    width: 100
                }




                    //{
                    //	title: "Action",
                    //	headerAttributes: { style: "text-align:center" },
                    //	template: '<a href="@(Url.Action("Edit", "Account"))/?id=#=Id#" class="btn btn-primary">Edit</a>',
                    //	width: 100
                    //},
                    //{
                    //    title: "Action",
                    //    headerAttributes: { style: "text-align:center" },
                    //    attributes: { style: "text-align:center" },
                    //    template: '<a href="@(Url.Action("CancelTicket", "AgentBooking"))/?id=#=ID#" class="btn btn-danger">Cancel</a>',
                    //    width: 100
                    //},
                    //{
                    //    title: "Action",
                    //    headerAttributes: { style: "text-align:center" },
                    //    attributes: { style: "text-align:center" },
                    //    template: '#if(BookingStatus=="PENDING"){#<a href="@(Url.Action("RejectBooking", "AgentBooking"))/?id=#=ID#" class="btn btn-danger">Reject</a>#}#',
                    //    width: 100
                    //},

                ],

            });
        });
        
    </script>
	}


