@model IEnumerable<WMSWebApp.ViewModels.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScreenCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationCode)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>

            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>

            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
